.layoutfooter {
  background-color: #0066ff;
  height: 140px;

  &__link {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 195%;
    color: #ffffff;
    text-decoration: none;
  }
  &__link:hover {
    font-weight: 500;
    color: #ffffff;
  }
}
