.slider {
  &__item {
    display: flex;
    flex-direction: column;
    max-width: 522px;

    &__card {
      background: #ffffff;
      width: 100%;
      border: 1px solid #000000;
      display: flex;
      &:first-child {
        margin-bottom: 27px;
      }

      &__content {
        padding: 18px 26px 12px 31px;
        font-family: "Rubik";
        font-style: normal;
        color: #000000;

        p {
          font-weight: 300;
          font-size: 14px;
          line-height: 165%;
          margin-bottom: 9px;
        }
        h4 {
          font-weight: 500;
          font-size: 16px;
          line-height: 195%;
          margin-bottom: 0;
        }
      }
    }
  }
}

.carousel {
  position: relative;
  .carousel-control-prev,
  .carousel-control-next {
    background-color: #000000;
    opacity: 0.1;
    width: 44.15px;
    height: 44.15px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .carousel-control-prev {
    left: -50px;
  }
  .carousel-control-next {
    right: -30px;
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 19.5px;
  }
}
